.AppBoarder {
  font-family: "Comfortaa", cursive;
  text-align: center;
  border: 1px solid ##376ca8;
  background: radial-gradient(
    827px at 47.3% 48%,
    rgb(255, 255, 255) 0%,
    rgb(138, 192, 216) 90%
  );
  width: 500px;
  border-radius: 50px;
  margin: 0 auto;
}
